<% layout('layout/boilerplate') -%>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campground/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="camp">Campground Name</label>
                    <input class="form-control" id="camp" type="text" value="<%= campground.title %>"
                        name="campground[title]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" id="location" type=" text" value="<%= campground.location %>"
                        name="campground[location]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)"
                            placeholder="0" value="<%= campground.price %>" name="campground[price]" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="campground[description]"  id="description"
                        class="form-control" required><%= campground.description %></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image">Add more</label>
                </div>
                <div class="mb-3">
                    <% campground.image.forEach((img, i) => { %> 
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete ?</label>
                    <% }) %>
                    
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update campground</button>
                </div>
            </form>

            <a href="/campground/<%= campground._id %>">Back</a>
        </div>
        </form>
    </div>